<%= form_with(model: csv_file, class: "contents") do |form| %>
  <% if csv_file.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(csv_file.errors.count, "error") %> prohibited this csv_file from being saved:</h2>

      <ul>
        <% csv_file.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex">
    <label for="csv_file_id" class="block text-m font-medium text-gray-700 mr-4">CSV file</label>
    <%= link_to "Cancel", csv_files_path, class: "text-blue-600" %>
  </div>

  <div class="flex">
    <%= form.file_field :file, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-1 mt-1", accept: ".csv" %>

    <%= form.submit "Upload CSV", class: "rounded-md ml-2 px-2 bg-blue-500 text-white  font-small cursor-pointer hover:bg-blue-600" %>
  </div>
<% end %>
